<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.2.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net461" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net461" />
  <package id="PDFsharp-MigraDoc" version="1.50.5147" targetFramework="net461" />
  <package id="XpdfNet" version="1.1.1" targetFramework="net461" />
</packages>